.container-work {
	padding-top: 0;
	padding-bottom: 0;
}

.title-studio {
	margin-bottom: 50px;

	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	color: var(--primary-text-color);
}

.text-studio-title {
	line-height: 1.71;
	color: var(--secondary-text-color);
	text-align: start;
}

.about-studio-title {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--primary-text-color);
}
